mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.add-button {
  margin-left: auto;
}

table {
  width: 100%;
}

.mat-column-status {
  width: 120px;
}
