.settings-card {
  max-width: 800px;
  margin: 20px auto; /* 중앙 배치 및 상하 여백 */
  padding: 20px;
}

.settings-form {
  padding-top: 20px;
}

.full-width {
  width: 100%;
}

mat-divider {
  margin: 20px 0;
}

.toggle-spacing {
  margin: 15px 0;
  display: block;
}
